.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product {
  display: flex;
  flex-direction: column;
  height: 300px;
  align-self: center;
  background-color: aliceblue;
  margin-right: 3%;
  width: 200px;
  margin-top: 3%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  flex-basis: 80%;
  margin: auto;
  padding-left: 2%;
  padding-right: 2%;
}

.cart {
  flex-basis: 20%;
  border: 3px solid #ccc;
}

.order {
  display: flex;
  align-items: center;
  border: 1px solid #282c34;
  margin: 1%;
}
